[submodule "submodules/libpng"]
	path = submodules/libpng
	url = https://github.com/glennrp/libpng.git
	branch = libpng16
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib.git
